.projects-section {
  background-image: linear-gradient(45deg, #020e1d 0%, #09006a 100%);

  &__header {
    margin-bottom: 2rem;
  }

  &__content {
    font-size: 1.8rem;
    text-align: center;
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    transform: translateY(200px);
    transition: 0.5s;
  }
  &__content.scrolled {
    transform: translateY(0px);
    opacity: 1;
  }
}
.projects-list {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;

  &__item {
    transform: translateY(200px);
    transition: 0.5s;
    margin: 0;
    position: relative;
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
    opacity: 0;
    &.scrolled {
      transform: translateY(0px);
      opacity: 1;
    }
    &:nth-child(2) {
      transition-delay: 0.2s;
    }
    &:nth-child(3) {
      transition-delay: 0.4s;
    }
    &:hover .projects-list__img {
      opacity: 0.35;
      transform: scale(1.1);
    }
    &:hover .project-description__header {
      opacity: 1;
      transform: translateY(0);
    }
    &:hover .project-description__content {
      opacity: 1;
      letter-spacing: 1px;
    }
    &:hover .project-description__link {
      animation: fall-in 0.6s, bounce 0.6s;
      top: 40px;
    }
    &:before {
      opacity: 1;
      position: absolute;
      top: 0%;
      left: 0%;
      width: 7rem;
      height: 7rem;
      border-top: 4px solid white;
      border-left: 4px solid white;
      content: "";
      border-top-left-radius: 18px;
      pointer-events: none;
      transition: 0.3s;
    }
    &:after {
      opacity: 1;
      pointer-events: none;
      position: absolute;
      bottom: 0%;
      right: 0%;
      width: 7rem;
      height: 7rem;
      border-bottom: 4px solid white;
      border-right: 4px solid white;
      content: "";
      border-bottom-right-radius: 18px;

      transition: 0.3s;
      opacity: 0;
    }
    &:hover:before {
      top: 5%;
      left: 5%;
      opacity: 1;
    }
    &:hover:after {
      bottom: 5%;
      right: 5%;
      opacity: 1;
    }
  }
  &__img {
    width: 100%;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 18px;
  }
}

.figure {
  position: relative;
  overflow: hidden;
  border-radius: 18px;
}

.project-description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

  &__inner {
    margin-top: 18rem;
  }
  &__link {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background: white;
    display: block;
    padding-top: 14px;
    padding-left: 14px;
    position: absolute;
    margin-left: -3rem;
    left: 50%;
    top: -60px;
    cursor: pointer;
    transition: background 0.5s;

    &:hover {
      background: black;
    }
    &:hover .project-description__svg {
      fill: white;
    }
  }
  &__svg {
    fill: black;
    width: 30px;
    height: 30px;
    transition: 0.5s;
  }
  &__header {
    font-size: 2.6rem;
    text-align: center;
    transform: translateY(30px);
    opacity: 0;
    transition: 0.3s;
    margin-top: 12rem;
  }
  &__content {
    margin-top: 1rem;
    font-size: 1.8rem;
    text-align: center;
    opacity: 0;
    letter-spacing: 3px;
    letter-spacing: 20px;
    transition: 0.3s;
  }
}

@keyframes fall-in {
  0% {
    top: -60px;
  }
  50% {
    top: 80px;
  }
  100% {
    top: 40px;
  }
}
@keyframes fall-in2 {
  0% {
    top: -60px;
  }
  50% {
    top: 120px;
  }
  100% {
    top: 70px;
  }
}
@keyframes fall-in3 {
  0% {
    top: -60px;
  }
  50% {
    top: 160px;
  }
  100% {
    top: 120px;
  }
}
@keyframes fall-in4 {
  0% {
    top: -60px;
  }
  50% {
    top: 120px;
  }
  100% {
    top: 80px;
  }
}
@keyframes bounce {
  0% {
    transform: scaleX(1) scaleY(1);
  }
  35% {
    transform: scaleX(1) scaleY(1);
  }
  50% {
    transform: scaleX(2) scaleY(0.5);
  }
  100% {
    transform: scaleX(1) scaleY(1);
  }
}
@media screen and (min-width: 400px) {
  .project-description__header {
    margin-top: 16rem;
  }
  .projects-list__item:hover .project-description__link {
    animation: fall-in2 0.6s, bounce 0.6s;
    top: 70px;
  }
}
@media screen and (min-width: 450px) {
  .project-description__header {
    margin-top: 21rem;
  }
  .projects-list__item:hover .project-description__link {
    animation: fall-in3 0.6s, bounce 0.6s;
    top: 120px;
  }
}

@media screen and (min-width: 530px) {
  .projects-list {
    justify-content: center;
    align-items: center;
    &__item {
      width: 48rem;
    }
  }

  @media screen and (min-width: 1100px) {
    .projects-section {
      &__header {
        margin-bottom: 3rem;
      }

      &__content {
        font-size: 2.2rem;
        max-width: 70rem;
      }
    }
    .projects-list {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;

      &__item {
        max-width: 40rem;
        padding: 0;
      }
      gap: 3rem;
    }
  }
  .project-description__header {
    margin-top: 16rem;
  }
  .projects-list__item:hover .project-description__link {
    animation: fall-in4 0.6s, bounce 0.6s;
    top: 80px;
  }
}

// @keyframes fall-in {
//   0% {
//     top: -60px;
//   }
//   50% {
//     top: 135px;
//   }
//   100% {
//     top: 80px;
//   }
// }
